*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
}


:root {
    --background: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    background-color: var(--background);
}


.card {
    max-width: 327px;
    max-height: 501px;
    border-radius: 20px;
    border: 1px solid var(--gray950);
    /* flex-direction: column;
    background-color: var(--white);
    justify-content: flex-start;
    display: flex;
    gap: 24px;
    padding: 24px;
    box-shadow: 8px 8px 0px 0px #000; */

}


.card-img {
    border-radius: 10px;
    /* width: 279px;
    height: 200px;
    object-fit: cover; */
}



.card-body {
    gap: 12px;
    /* width: 279px;
    height: 173px; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}



.card-tag {
    color: var(--gray950);
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--background);
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
    /* text-align: center;
    font-weight: bold;
    gap: 8px;
    border-radius: 4px; */
}

.card-publish-data {
    color: var(--gray950);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}


.card-title {
    font-size: 24px;
    line-height: 150%;
    color: var(--slate900);
    /* text-decoration: none;
     font-weight: bold; */
}


.card-paragraph {
    color: var(--gray500);
}

.card-title:hover {
    color: var(--background);
}


.card-author {
    /* display: flex;
    align-items: center; */
    gap: 10px;
}

.card-author-img {
    width: 32px;
    height: 32px;
}

.card-author-name {
    font-size: 14px;

    line-height: 150%;
    letter-spacing: 0%;
    color: var(--gray950);

}